@import "../../../main-styles.scss";

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 800px;
  max-height: 480px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 36px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background: white;
}

.task-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 36px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.title {
  font-family: "Lato";
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.list-menu {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
  .list-menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    // width: 100%;
    width: 100px;
    color: #5f5f5f;
    margin-bottom: 5px;
    &:hover {
      background: $light;
    }
    &.is-active {
      background-color: #cff8ef;
      color: $dark-green;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  width: 100px;
}

.task {
  background: white;
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 10px;

  &:not(.complete) {
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    &:hover {
      box-shadow: 0 0 0 5px #eeeeee;
    }
    // Click Animation
    &:active {
      transform: scale(0.95);
    }
  }

  &.complete {
    text-decoration: line-through;
    opacity: 0.8;
  }
}
